@using CoZ.ViewModels
@model CoZ.ViewModels.LocationViewModel
    @{
        ViewBag.Title = "Current Location";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

    <h2>Your current Location</h2>

    <h3>@Model.Description</h3>
    <br />
    <p>@Model.MonsterToNorth</p>
    <br />
    <p>@Model.MonsterToEast</p>
    <br />
    <p>@Model.MonsterToSouth</p>
    <br />
    <p>@Model.MonsterToWest</p>
    <br />

    <div class="row">
        <div class="col-md-4">
            <h2><a class="btn btn-default" href="/Character/Index">Look at your Stats &raquo;</a></h2>
        </div>
        <div class="col-md-4">
            <h2><a class="btn btn-default" href="/Inventory/Index">Look at your Inventory &raquo;</a></h2>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
        </div>
        @if (Model.Description.StartsWith("You have reached the town"))
        {
        <div class="col-md-4">
            <h2><a class="btn btn-default" href="/Location/Market">Go to Market &raquo;</a></h2>
        </div>
        }
        else
        {
        <div class="col-md-4">
            <h2><a class="btn btn-default" href="/Location/Camp">Camp and Rest &raquo;</a></h2>
        </div>
        }

    </div>

    <br />
    <br />

    <div class="row">
        <div class="col-md-offset-10">
            <p><a class="btn btn-default" href="/Location/GoNorth/{id}">Go North &raquo;</a></p>
        </div>
        <div class="col-md-offset-9">
            <p><a class="btn btn-default" href="/Location/GoWest/{id}">Go West &raquo;</a>-----------|-----------<a class="btn btn-default" href="/Location/GoEast/{id}">Go East &raquo;</a></p>
        </div>
        <div class="col-md-offset-10">
            <p><a class="btn btn-default" href="/Location/GoSouth/{id}">Go South &raquo;</a></p>
        </div>
    </div>

