@using CoZ.ViewModels
@model CoZ.ViewModels.BattleViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>A @Model.MonsterName appears out of nowhere!</h2>
<p>The @Model.MonsterName walks around, and hasn't spotted you yet.</p>
<p>You turn around to walk away, but the sound of your movements pull the @Model.MonsterName's attention.</p>
<p>The @Model.MonsterName attacks!</p>

<br />
<br />
<br />

<div class="row">
    <div class="col-md-4">
        <h3>You</h3>
        <p>Hp: @Model.CharacterCurrentHp/@Model.CharacterMaxHp</p>
        <p>Mp: @Model.CharacterCurrentMp/@Model.CharacterCurrentMp</p>
    </div>
    <div class="col-md-4">
        <h3>Level @Model.MonsterLevel @Model.MonsterName</h3>
        <p>Hp: @Model.MonsterCurrentHp/@Model.MonsterMaxHp</p>
    </div>
</div>

<br />
<br />
<br />

<div class="row">
    <div class="col-md-offset-9">
        <p><a class="btn btn-default" width="200" href="/Battle/Attack">Melee Attack &raquo;</a></p>
    </div>
    <div class="col-md-offset-8">
        <p><a class="btn btn-default" width="200" href="">Use Magic &raquo;</a>-----------|-----------<a class="btn btn-default" width="200" href="">Defend &raquo;</a></p>
    </div>
    <div class="col-md-offset-9">
        <p><a class="btn btn-default" width="200" href="/Battle/RunAway">Try to get Away &raquo;</a></p>
    </div>
</div>